/*
Navigation - all pages
*/

#main-nav {
	position:fixed;
	display:block;
	color:red;
	font-size:24px;
	top: 50%;
	left:0%;
	transform: translate(0%, -50%);
}

.move-top-left{
	top:0px;
	
    -moz-transition:all 2s;
    -webkit-transition:all 2s;
    -o-transition:all 2s;
    transition:all 2s;
}