

#title-holder {
     background-color: RGBA(122,122,122,0.3);
     height: 10%;
	 width:95%;
     position: fixed;
     right: 5%;
     top: 5%;
	 font-size:24px;
	 z-index:4;
}

#title-holder-2 {
     background-color: RGBA(122,122,122,0.3);
     height: 10%;
	 width:95%;
     position: fixed;
     right: 5%;
     bottom: 5%;
	 font-size:24px;
	 z-index:4;
}
/*
#title-holder li {
     display: block;
     font-size: 24px;
     padding-right: 20px;
     padding-top: 20px;
     position: fixed;
	background-color: RGBA(0,0,0,0.3);
	 z-index:1;

}

#title-holder-2 {
     background-color: yellow;
     bottom: 0px;
     left: 0px;
     position: fixed;
     width: 100%;
	 z-index:1;

}

#title-holder-2 li {
     display: block;
     font-size: 24px;
     padding-bottom: 20px;
	 z-index:1;

}


*/



#main-nav {
     background-color: RGBA(0,90,90,0);
     font-size: 24px;
     height: 100%;
     left: 0px;
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 0px;
     width: 100%;
	 z-index:3;

}

#main-nav ul {
     display: none;
     background-color: RGBA(0,0,0,0.3);
    z-index:1;

}

#main-nav ul li {
     display: block;
	 z-index:1;

}

#main-nav ul li a {
     height: auto;
     width: auto;
	 z-index:1;

}

a {
     color: white;
}

a:link {
     color: white;
     text-decoration: none;
     transition: all 0.25s ease 0s;
}

a:visited {
     color: white;
     text-decoration: none;
     transition: all 0.25s ease 0s;
}

a:hover {
     color: grey;
     text-decoration: none;
     transition: all 0.25s ease 0s;
}

a:active {
     color: white;
     text-decoration: none;
     transition: all 0.25s ease 0s;
}


