#scroller {
    position:absolute;
     z-index: 3;
}

#content {
     height: 100%;
     position: fixed;
     top: 25%;
     width: 100%;
     z-index: 1;
}

#content section {
	position:absolute;
     background-color: rgba(222, 50, 50, 0);
	 display:none;
     height: 80%;
     margin: 0px auto;
     overflow: visible;
     text-align: center;
     width: 60%;
     left:20%
}



.dummy_top {
     background-color: rgba(222, 50, 50, 0.5);
     height: 15%;
     left: 40%;
     position: fixed;
     top: 0%;
     width: 20%;
     z-index: 2;
}

.hide-away-top {
     background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000 60%, #000000) repeat scroll 0% 0% transparent;
     height: 20%;
     left: 15%;
     position: fixed;
     top: 0%;
     width: 70%;
     z-index: 1;
}

.dummy_bot {
     background-color: rgba(222, 50, 50, 0.5);
     bottom: 0px;
     height: 10%;
     left: 40%;
     position: fixed;
     width: 20%;
     z-index: 2;
}

.hide-away-bot {
     background: linear-gradient(to top, #000000, #000000 25%, rgba(0, 0, 0, 0)) repeat scroll 0% 0% transparent;
     bottom: 0px;
     height: 10%;
     left: 15%;
     position: fixed;
     width: 70%;
     z-index: 1;
}

#top_arrow_holder canvas{
  position: fixed;
  top:10%;
  width:50px;
  margin-left:-25px;
  left:50%;
  z-index:1;
}


#bot_arrow_holder canvas{
  position: fixed;
  bottom:2%;
  width:50px;
  margin-left:-25px;
  left:50%;
  transform: rotate(180deg);
  z-index:1;
}

@keyframes scrollerFadeInOut {
	0%   { 
		opacity:1; 
	}
	50%  { 
		opacity:0; 
	}
	100% {
		opacity:1; 
	}
}

